body{
    background-image: url("DtolM7M.png");
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 20px !important;
}
.emphasise{
    opacity: 85%;
}
.bgneutra{
    opacity: 85%;
}
